.counterWidget{
    background-color: red;
    padding-left: 7px !important;
    padding-right: 7px !important;
    border-radius: 50px !important;
    color: white;
    font-weight: bold;
    font-size: .9rem;
    width: 25px;
    height: 25px;
}

.counterWidget:hover{
    font-style: none;
}

.cartWidget{
    font-size: 1.5rem !important;
}

.cartWidget:hover{
    color: rgb(204, 90, 143) !important;
}