.navbar-right {
  float: right;
  list-style: none;
}
.shopping-cart {
  margin: 20px 0;
  background: white;
  width: 320px;
  position: fixed;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid rgb(233, 183, 107);
  display: none;
  z-index: 10000;
  right: 11px;
  top: 90px;
}
